--
-- PostgreSQL database dump
--

-- Dumped from database version 14.17
-- Dumped by pg_dump version 14.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: book; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.book (
    id integer NOT NULL,
    name character varying(255),
    price numeric(10,2),
    dept_id integer
);


ALTER TABLE public.book OWNER TO inventory;

--
-- Name: book_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.book_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.book_id_seq OWNER TO inventory;

--
-- Name: book_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.book_id_seq OWNED BY public.book.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    cname character varying(255)
);


ALTER TABLE public.categories OWNER TO inventory;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO inventory;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    address text,
    phone character varying(50),
    customer_name character varying(255),
    email character varying(255)
);


ALTER TABLE public.customers OWNER TO inventory;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customers_id_seq OWNER TO inventory;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: delivery_details; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.delivery_details (
    id integer NOT NULL,
    quantity numeric(10,2),
    productid integer,
    customerid integer,
    deliverydate date,
    unit_price numeric(10,2),
    total_price numeric(10,2),
    statusid integer,
    createdate timestamp without time zone
);


ALTER TABLE public.delivery_details OWNER TO inventory;

--
-- Name: delivery_details_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.delivery_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.delivery_details_id_seq OWNER TO inventory;

--
-- Name: delivery_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.delivery_details_id_seq OWNED BY public.delivery_details.id;


--
-- Name: order_details; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.order_details (
    id integer NOT NULL,
    quantity numeric(10,2),
    productid integer,
    unit_price numeric(10,2),
    statusid integer,
    total_price numeric(10,2),
    vendorid integer,
    createdate timestamp without time zone
);


ALTER TABLE public.order_details OWNER TO inventory;

--
-- Name: order_details_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.order_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_details_id_seq OWNER TO inventory;

--
-- Name: order_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.order_details_id_seq OWNED BY public.order_details.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.products (
    id integer NOT NULL,
    pcode character varying(100),
    pname character varying(255),
    pcate integer,
    price numeric(10,2),
    createdate timestamp without time zone
);


ALTER TABLE public.products OWNER TO inventory;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO inventory;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: status; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.status (
    id integer NOT NULL,
    status character varying(100)
);


ALTER TABLE public.status OWNER TO inventory;

--
-- Name: status_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.status_id_seq OWNER TO inventory;

--
-- Name: status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.status_id_seq OWNED BY public.status.id;


--
-- Name: stocks; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.stocks (
    id integer NOT NULL,
    quantity numeric(10,2),
    productid integer,
    warehouseid integer,
    updatedate timestamp without time zone
);


ALTER TABLE public.stocks OWNER TO inventory;

--
-- Name: stocks_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.stocks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stocks_id_seq OWNER TO inventory;

--
-- Name: stocks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.stocks_id_seq OWNED BY public.stocks.id;


--
-- Name: vendors; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.vendors (
    id integer NOT NULL,
    address text,
    cell character varying(50),
    contact_person character varying(255),
    company character varying(255),
    email character varying(255)
);


ALTER TABLE public.vendors OWNER TO inventory;

--
-- Name: vendors_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.vendors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.vendors_id_seq OWNER TO inventory;

--
-- Name: vendors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.vendors_id_seq OWNED BY public.vendors.id;


--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: inventory
--

CREATE TABLE public.warehouses (
    id integer NOT NULL,
    wname character varying(255)
);


ALTER TABLE public.warehouses OWNER TO inventory;

--
-- Name: warehouses_id_seq; Type: SEQUENCE; Schema: public; Owner: inventory
--

CREATE SEQUENCE public.warehouses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.warehouses_id_seq OWNER TO inventory;

--
-- Name: warehouses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: inventory
--

ALTER SEQUENCE public.warehouses_id_seq OWNED BY public.warehouses.id;


--
-- Name: book id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.book ALTER COLUMN id SET DEFAULT nextval('public.book_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: delivery_details id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.delivery_details ALTER COLUMN id SET DEFAULT nextval('public.delivery_details_id_seq'::regclass);


--
-- Name: order_details id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.order_details ALTER COLUMN id SET DEFAULT nextval('public.order_details_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: status id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.status ALTER COLUMN id SET DEFAULT nextval('public.status_id_seq'::regclass);


--
-- Name: stocks id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.stocks ALTER COLUMN id SET DEFAULT nextval('public.stocks_id_seq'::regclass);


--
-- Name: vendors id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.vendors ALTER COLUMN id SET DEFAULT nextval('public.vendors_id_seq'::regclass);


--
-- Name: warehouses id; Type: DEFAULT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.warehouses ALTER COLUMN id SET DEFAULT nextval('public.warehouses_id_seq'::regclass);


--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.book (id, name, price, dept_id) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.categories (id, cname) FROM stdin;
1	Electronics
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.customers (id, address, phone, customer_name, email) FROM stdin;
\.


--
-- Data for Name: delivery_details; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.delivery_details (id, quantity, productid, customerid, deliverydate, unit_price, total_price, statusid, createdate) FROM stdin;
\.


--
-- Data for Name: order_details; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.order_details (id, quantity, productid, unit_price, statusid, total_price, vendorid, createdate) FROM stdin;
1	2.00	1	45000.00	1	90000.00	1	2026-05-31 01:26:10.163
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: inventory
--



--
-- Data for Name: status; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.status (id, status) FROM stdin;
1	Sold
\.


--
-- Data for Name: stocks; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.stocks (id, quantity, productid, warehouseid, updatedate) FROM stdin;
1	2.00	54	1	2026-06-02 00:09:12.08
\.


--
-- Data for Name: vendors; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.vendors (id, address, cell, contact_person, company, email) FROM stdin;
1	ansercamp,Mirpur-1	01688132317	Rafi	Quatum	shohabsikder4057@gmail.com
\.


--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: inventory
--

COPY public.warehouses (id, wname) FROM stdin;
1	Rubin
\.


--
-- Name: book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.book_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.customers_id_seq', 1, false);


--
-- Name: delivery_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.delivery_details_id_seq', 1, false);


--
-- Name: order_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.order_details_id_seq', 1, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.products_id_seq', 54, true);


--
-- Name: status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.status_id_seq', 1, true);


--
-- Name: stocks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.stocks_id_seq', 1, true);


--
-- Name: vendors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.vendors_id_seq', 1, true);


--
-- Name: warehouses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: inventory
--

SELECT pg_catalog.setval('public.warehouses_id_seq', 1, true);


--
-- Name: book book_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: delivery_details delivery_details_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.delivery_details
    ADD CONSTRAINT delivery_details_pkey PRIMARY KEY (id);


--
-- Name: order_details order_details_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.order_details
    ADD CONSTRAINT order_details_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: status status_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.status
    ADD CONSTRAINT status_pkey PRIMARY KEY (id);


--
-- Name: stocks stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.stocks
    ADD CONSTRAINT stocks_pkey PRIMARY KEY (id);


--
-- Name: vendors vendors_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_pkey PRIMARY KEY (id);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: inventory
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

